 <div class="col-md-6">
 <br>
 <br>
        <h3>Name: <%= product.name %></h3>
         <%= if(product.image_url != nil && product.image_url != "" )
            link_to(image_tag(product.image_url, class: "img-responsive product-image"), product)
          else 
            "No image."
          end %>
        <p> Description: <%= product.description %><br>
       Color: <%= product.color %><br>
        Price: <%= product.price %> <br>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div><!-- /col -->

 