<div class="container">
  <div class="show_product">
    <% cache @product do %>
    <div class="col-md-12">
      <h2>
        <%= @product.name %>
      </h2>
    </div>
    <div class="col-md-12">
      <p>
        <strong>
          <%= image_tag(@product.image_url, class: "img-zoom", data_zoom_image: "@product.image_url") %>
        </strong>
      </p>
    </div>
    <div class="col-md-12">
      <p>
        <%= @product.price / 1 %>
      </p>
      <div class="payment">
        <%= form_tag "/payments/create" do %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
      </div>
      <p>
        <%= @product.description %>
      </p>
      <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>">
      </div>
    </div>
    <% end %>
  </div>

  <div class="rate-product">
    <div class="col-md-6 rate-product">
      <h4>Customer reviews:</h4>
      <div class="alert alert-info-review" style="display:none" role="alert">A new comment was posted!</div>
      <p>
        <%= render partial: "comments" %>
      </p>
    </div>
    <div class="col-md-6 rate-product">
      <p>
        <%= render partial: "new_comment" %>
      </p>
    </div>
  </div>

  <% if signed_in? && current_user.admin? %>
  <div class="product-button col-md-12">
    <%= link_to 'Edit', edit_product_path(@product),class: 'btn btn-primary' %>  |
    <%= link_to 'Back', products_path, class: 'btn btn-primary'  %>
  </div>
  <% end %>
  <br>
  <br>

</div>
