 <br>
 <br>
 <div class="container pad-top pad-bottom" >
  
   <% cache @product do %>
   <br>
   <br>
   <br>
   <h2 class="text-center"><%= @product.name %></h2>
   <% end %>
   <div class="row margin-sides">
     <div class="col-lg-6 col-md-12 col-sm-12 pad-top">

      <% if @product.image_url.present? %>
      <%= image_tag(@product.image_url, data_zoom_image: "@product.image_url", class: "img-zoom img-responsive product-img") %>
      
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 pad-top">
      <br>
      <h3 class=""><strong>Description: </strong><%= @product.description %></h3>
      <h3>
       <strong>Colour available: </strong><%= @product.colour %>
       <br>
       <strong>Price: </strong> <%= @product.price %>&euro;<br>
     </h3>
     <p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div></p>
     <div>

       <%= form_tag "/payments/create" do %>
       <%= render partial: "shared/stripe_checkout_button" %>
       <% end %>
     </div>
     <br>
     <br>
     <h6>  
       Views:
       <span class="badge">
         <%= @product.views %>
       </span>
     </h6> 
 
      <p>
        <% if signed_in? && current_user.admin %>
         <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-default' %>
      <% end %>
      <%= link_to 'Back', products_path, class: 'btn btn-default' %>
    </p>
    <%= render "new_comment" %>
    <%= render "comments" %>
   <% end %>
  </div>